* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.visual {
  height: 500px;
  width: 700px;
  border: 2px solid black;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background: lightgrey;
}

.bar {
  height: 300px;
  width: 15px;
  background: lightcoral;
}

.current-bar {
  background: lightseagreen;
}
